/* All drupal ajax loader hide */
.ajax-progress-throbber { 
  display: none !important; 
}

/* Generic loader */
#wrapper-galoader-box {
  width: 160px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 50px;
  background: #efefef;
  opacity: 0.8;
  filter: alpha(opacity=100);
  border: solid 1px #fff;
  display: none;
  -webkit-box-shadow:  0px 0px 10px 3px rgba(150, 150, 150, 0.1);        
  box-shadow:  0px 0px 10px 3px rgba(150, 150, 150, 0.1);
  border: solid 1px #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 9999999999;
}

#galoader-box {    
  
}

#galoader-box > * {
  float: left;
  height: 100%;
  line-height: 50px;
}

.galoader-image {
  margin: 0px 10px;
  position: relative;
}

.galoader-image img {  
  position: absolute;
  top: 10px;
  left: 0px;
}


.galoader-message {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
  margin-left: 50px;
}